<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <style>
        #content {
            background: url("../Image/BANNER-ERROR/BANNER ERROR-03.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #btn-return {
            position: absolute;
            left: 20%;
            top: 17%;
            width: 10%;
        }

        #btn-inicio {
            position: absolute;
            left: 32%;
            top: 17%;
            width: 10%;
        }
    </style>
</head>
<body>
    <a>
        <img id="btn-inicio" src="~/Image/BANNER-ERROR/inicio.jpg" />
    </a>
    <a>
        <img id="btn-return" src="~/Image/BANNER-ERROR/regresar.jpg" />
    </a>
</body>
</html>