@{
    Layout = null;
    @model Presentacion.Mvc.App.Models.RegistroVisitaModel

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>@Model.factores_[0].Nombre</h1>
        <h1>@Model.nombreAsesor</h1>
    </div>
</body>
</html>