@using Presentacion.Mvc.App.Models
@{
    ViewBag.Title = "Perimetro Floridablanca";
}
@{  @Html.Hidden("PerimetroUrlFloridablanca", ConfiguracionesGlobales.PerimetroUrlFloridablanca)  }
<h2 id="log" class="col-md-12 ajax-file-upload-green">Abriendo perimetro Floridablanca... Por favor permitir abrir ventanas emergentes, Gracias</h2>

<script>
    window.open($("#PerimetroUrlFloridablanca").val());
//    window.open('https://www.google.com/maps/d/viewer?mid=zRXBpRh6KJY8.kjX7X_KwXNbA&usp=sharing');
    var url = '@Url.Action("Index","Home")';
    window.setTimeout($('#log').empty(), 30000);
</script>