@using Presentacion.Mvc.App.Models
@{
    ViewBag.Title = "Perimetro Neiva";
}
@{  @Html.Hidden("PerimetroUrlNeiva", ConfiguracionesGlobales.PerimetroUrlNeiva)  }
<h2 id="log" class="col-md-12 ajax-file-upload-green">Abriendo perimetro Neiva... Por favor permitir abrir ventanas emergentes, Gracias</h2>

<script>
    window.open($("#PerimetroUrlNeiva").val());
  //  window.open('https://www.google.com/maps/d/viewer?mid=zRXBpRh6KJY8.kvVx_MuRNX6A&usp=sharing');
    var url = '@Url.Action("Index","Home")';
    window.setTimeout($('#log').empty(), 30000);
</script>