<!-- Detalle Noticia -->
<section id="main-content" class="container">
    <div class="">
        <div class="col-xs-12">
            <div class="banner">
                <img src="~/Image/NoticiasTemp/banner-default-noticias.png" alt="">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 title">
                    <h1>Porque mereces estar siempre informado</h1>
                    <p>12 Septiembre 2016 / <b>Responsabilidad social</b></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 content-noticia">
            <div class="row">
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/asesora.jpg" class="img-responsive" alt="">
                            <p class="desc-img">Lina Vargas, Auxiliar de Cartera</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h2>
                            Nueva asesora de Cartera en la sede principal de Bogotá
                        </h2>

                        <p>
                            Lina Vargas, Auxiliar de Cartera, está ubicada en la oficina de Administración de Ventas dando soporte a los temas de tu gestión comercial relacionados con cartera.
                        </p>
                        <p>
                            Ahora contamos con un representante del área de Cartera en la sede principal de Emermédica Bogotá con el objetivo de canalizar y dar solución a temas concernientes a cartera, así como brindar direccionamiento en caso que el tema no corresponde a esta
                            área.
                        </p>
                        <p>
                            Es así como Lina Vargas, Auxiliar de Cartera, está ubicada en la oficina de Administración de Ventas (2° piso de Emermédica Toberín), dando soporte a la fuerza de ventas de Emermédica en temas como:
                        </p>
                        <ul>
                            <li><span>•</span> Mora de contratos</li>
                            <li><span>•</span> Actualización de datos bancarios</li>
                            <li><span>•</span> Recepción de soportes de pago</li>
                            <li><span>•</span> Información medios de recaudo</li>
                            <li><span>•</span> Información general sobre estados de cuenta</li>
                            <li><span>•</span> Desbloqueo y reactivaciones de contratos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    @Scripts.Render("~/bundles/emermedica")
}