<!-- Detalle Noticia -->
<section id="main-content" class="container">
    <div class="">
        <div class="col-xs-12">
            <div class="banner">
                <img src="~/Image/NoticiasTemp/banner-default-noticias.png" alt="">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 title">
                    <h1>Porque mereces estar siempre informado</h1>
                    <p>12 Septiembre 2016 / <b>Responsabilidad social</b></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 content-noticia">
            <div class="row">
                <div class="block">
                    <div class="col-xs-12">
                        <h2>
                            Emermédica en medios de comunicación
                        </h2>

                        <p>
                            Conoce las últimas noticias de Emermédica publicadas en los medios de comunicación masivos más importantes del país.
                        </p>
                        <p>
                            En el mes de noviembre y diciembre tuvimos presencia en los principales medios del país donde publicaron noticias generadas por Emermédica sobre las enfermedades más frecuentes en vacaciones, la nueva sede en Bucaramanga y sobre las ventajas y beneficios
                            del servicio de atención médica domiciliaria.
                        </p>
                        <p>
                            Gracias a la gestión realizada por el equipo de Comunicaciones de la Compañía se han logrado a la fecha 12 publicaciones en los siguientes medios:
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El Nuevo Siglo (Bogotá)</h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="" target="_blank">
                                <img src="~/Image/NoticiasTemp/el-nuevo-siglo.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El Mundo (Medellín)</h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="http://www.elmundo.com/portal/vida/estilos_de_vida/cuide_su_salud_en_vacaciones.php#.WGKbJlPhCM- " target="_blank">
                                <img src="~/Image/NoticiasTemp/el-mundo.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El Colombiano (Medellín)</h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="http://www.elcolombiano.com/colombia/salud/enfermedades-por-virus-las-mas-frecuentes-en-vacaciones-EI5648273 " target="_blank">
                                <img src="~/Image/NoticiasTemp/el-colombiano.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El Frente (Bucaramanga) </h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="http://www.elfrente.com.co/web/index.php?ecsmodule=frmstasection&ida=61&idb=122&idc=8844" target="_blank">
                                <img src="~/Image/NoticiasTemp/el-frente.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>Vanguardia Liberal (Bucaramanga) </h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="http://www.vanguardia.com/colombia/382846-enfermedades-por-virus-las-mas-frecuentes-en-periodos-de-vacaciones" target="_blank">
                                <img src="~/Image/NoticiasTemp/vanguardia.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El Diario del Llano (Villavicencio) </h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="http://www.eldiariodelllano.com/en-estas-vacaciones-evite-enfermarse-siguiendo-las-recomendaciones-de-expertos/" target="_blank">
                                <img src="~/Image/NoticiasTemp/el-llano.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El Universal (Cartagena) </h3>
                            <p class="desc">
                                Click en la imagen para ver ampliada
                            </p>
                            <a href="http://www.eluniversal.com.co/salud/enfermedades-por-virus-las-mas-frecuentes-en-periodos-de-vacaciones-242325" target="_blank">
                                <img src="~/Image/NoticiasTemp/el-universal.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>Periódico del Meta (Villavicencio) </h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="https://issuu.com/periodicodelmeta/docs/edicion_126/12" target="_blank">
                                <img src="~/Image/NoticiasTemp/meta.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="img-container">
                            <h3>El quinto poder </h3>
                            <p class="desc">
                                Click en la imagen para ir al enlace directo
                            </p>
                            <a href="http://www.quintopoder.com.co/enfermedades-por-virus-las-mas-frecuentes-en-vacaciones/" target="_blank">
                                <img src="~/Image/NoticiasTemp/quinto-poder.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12">
                        <p>
                            Estas publicaciones contribuyen a que las personas nos conozcan y posicionarnos como una de las empresas líderes del sector en el país.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    @Scripts.Render("~/bundles/emermedica")
}