<!-- Detalle Noticia -->
<section id="main-content" class="container">
    <div class="">
        <div class="col-xs-12">
            <div class="banner">
                <img src="~/Image/NoticiasTemp/banner-noticia-vegas.png" alt="">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 title">
                    <h1>Lo que no te puedes perder en Las Vegas y en <br> la Guajira</h1>
                    <p>12 Septiembre 2016 / <b>Responsabilidad social</b></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 content-noticia">
            <div class="row">
                <div class="block">
                    <div class="col-xs-12 col-sm-8">
                        <h2>
                            Lo que no te puedes perder en las Vegas
                        </h2>

                        <p>
                            Hay gran cantidad de cosas que puedes disfrutar y que no puedes perderte si viajas a las Vegas Es por eso que te hablamos de las mejores cosas que hay para hacer.
                        </p>
                        <h3>
                            Los Espectáculos:
                        </h3>
                        <p>
                            Puedes asistir a una de las funciones del circo más conocido del mundo: el <b>Cirque du Soleil</b>, como <b>KÀ</b>, <b>Mystère</b>, <b>Zarkana</b>, <b>Michael Jackson ONE</b> y <b>Criss Angel Believe</b> en los hoteles
                            más importantes de la ciudad.
                        </p>
                        <p>

                            No te pierdas los conciertos de los artistas más importantes de la música que se presentan en el <b>Coliseo del Caesar’s Palace: Elton John, Shania Twain o Céline Dion</b> son algunas de las estrellas regulares del Coliseo.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/cirque.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/tiendas.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h3>
                            Las Tiendas:
                        </h3>
                        <p>
                            Premium Outlet es el centro comercial que te ofrece algunas de las marcas más reconocidas e importantes del mercado con precios de outlet. Algunas de las tiendas que puedes encontrar allí son <b>Victoria Secret, Dolce&Gabanna, Burberry, Diesel,</b>                                o <b>Armani</b>.
                        </p>
                        <p>
                            También puedes acercarte a los comercios exclusivos de los hoteles del <b>Vegas Strip</b> (calle principal donde se encuentran los hoteles, casinos y resorts más grandes del mundo) como la tienda Chanel que se encuentra
                            en el <b>hotel Wynn</b>.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12">

                        <h3>Los Casinos: </h3>
                        <p>
                            Como clásico de las Vegas tienes la oportunidad de atreverte a apostar algunas fichas en los casinos de los hoteles de Las Vegas Strip, donde cada uno tiene una temática diferente: el antiguo Egipto, la Roma imperial, el Caribe, la época medieval, y entre
                            muchos otros más.
                        </p>
                        <p>
                            Si vas a apostar, hazlo con moderación, ya que hay muchas cosas más por disfrutar en la ciudad.
                        </p>
                        <h3>
                            La fuente del Bellaggio:
                        </h3>
                        <p>
                            Hay varios espectáculos gratuitos que se realizan en los exteriores de los hoteles como el espectáculo en las fuentes del hotel Bellaggio. Cada media hora entre las 3 p.m. y las 8 p.m. y cada 15 minutos desde entonces hasta la medianoche un espectacular
                            lago explota en más de 1.200 chorros de agua lanzada a casi 150 metros de altura al ritmo de Frank Sinatra, Gene Kelly, entre otros.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-8">
                        <h3> Los Nightclubs: </h3>
                        <p>
                            Locales como el Pure en el Caesar’s Palace o el Bank en el Bellaggio son algunos de los más importantes. También lo son el LAX en el Luxor, o los clubes XS y Surrender en el Wynn van a hacerte bailar hasta muy tarde con DJ’s residentes como Calvin Harris,
                            Bingo Players, Deadmau5, Tiësto, Skrillex o Steve Aoki.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/clubs.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/las-vegas-centro.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h3>Visitar el Centro de Las Vegas</h3>
                        <p>
                            Una vuelta por el centro no puede faltar en tu viaje. Especialmente si en él te encuentras con una calle peatonal, la Freemont Street Experience, cubierta por una bóveda y con una pantalla formada por más de 12.5 millones de LEDs. En esta calle, dejando
                            de lado su zona comercial, también podrás visitar el Neon Museum, con letreros de antiguos casinos y otras vallas publicitarias de negocios.
                        </p>
                        <p>
                            Allí podrías comer en el restaurante Neonopolis, un lugar que costó más de 100 millones de dólares.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12">
                        <h3>La montaña rusa en el New York-New York</h3>
                        <p>
                            El hotel New York-New York es, junto al Stratosphere, el único en Las Vegas que dispone de montaña rusa. A través del resort, una auténtica réplica de la ciudad de Nueva York, puedes dar un par de vueltas a unos 100km/h por unos $16.
                        </p>
                        <p>
                            También puedes llevarte una foto de recuerdo o casarte en la atracción por $600 durante la mañana o $700 por la noche. ¿Qué más da? ¡Estás en Las Vegas!
                        </p>
                        <p>
                            La atracción abre entre semana de 11 a.m. a 11 p.m. excepto los fines de semana que lo hace desde las 10:30 a.m. hasta la medianoche.
                        </p>
                        <h3>
                            Las Rosquillas
                        </h3>
                        <p>
                            ¡Disfruta de unas rosquillas recién salidas del horno mientras paseas por Las Vegas Strip! Hay una fábrica de rosquillas, la Krispy Kreme, con sedes en el Excalibur, el Circus Circus y el Stratosphere que prepara decenas de donuts con otras decenas de
                            diseños. ¡Son absolutamente irresistibles!
                        </p>
                        <h3>
                            Las auténticas hamburguesas
                        </h3>
                        <p>
                            En lugares como el M&M Soul Food podrás disfrutar de pollo, costillas y patatas fritas, mientras que en otros como el Hash House a-Go Go
                        </p>
                        <p>
                            Si prefieres los filetes prueba la mejor barbacoa de Las Vegas: el Big Mama’s Rib Shack
                        </p>
                    </div>
                </div>
                <div class="block separator">
                    <div class="col-xs-12">
                        <hr>
                        <p>fuente: <a href="http://blog.weplann.com/10-cosas-hacer-las-vegas/" target="_blank">http://blog.weplann.com/10-cosas-hacer-las-vegas/</a></p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12">
                        <h2>
                            Lo que no te puedes perder en La Guajira
                        </h2>

                        <p>
                            Entrar en contacto con la cultura Wayúu en rancherías indígenas, descansar en las playas del Cabo de La Vela y visitar reservas naturales son planes perfectos para disfrutar de la Guajira y que no puedes perder la oportunidad de hacerlas estando allí.
                        </p>
                        <h3>
                            Visita la Mezquita de Omar Ibn Al-Jattab:
                        </h3>
                        <p>
                            Una huella que dejó la ola de inmigrantes de Oriente Medio que se asentaron en Maicao entre 1960 y 1970 se ve en la mezquita de Omar Ibn Al-Jattab de este municipio, al que se llega luego de un viaje de 72 km hacia el oriente desde Riohacha.
                        </p>
                        <p>
                            La estructura, inaugurada en 1997, tiene un minarete de 31 m y fue construida en mármol italiano por el arquitecto iraní Alí Namazi.
                        </p>
                        <h3>
                            Las Artesanías Wayúu:
                        </h3>
                        <p>
                            El muelle de Riohacha es un buen lugar para encontrar artículos artesanales tradicionales Wayúu. Allí, cerca del mar, los artesanos exhiben mochilas, mantas, hamacas, sombreros y otros artículos coloridos.
                        </p>
                        <p>
                            También puedes visitar los talleres especializados de Uribia, informalmente conocida como "la capital indígena de Colombia", que se encuentra 92 km al norte de Riohacha.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/rancherias.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h3>
                            Visitas a las Rancherías Wayúu:
                        </h3>
                        <p>
                            Las mujeres, vestidas con mantas de colores, persiguen a un hombre ataviado con un guayuco. Todos están descalzos y se mueven al son de tambores. Este es el baile de la yonna, que se puede presenciar en las rancherías de los indígenas Wayúu, en los alrededores
                            de Riohacha y en otros sitios en La Guajira.
                        </p>
                        <p>
                            Los viajeros también pueden comprar allí mochilas y chinchorros, y probar el friche, un plato a base de chivo.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-8">
                        <h3> Sube al Pilón de Azúcar</h3>
                        <p>
                            Tres horas al norte de Riohacha, en el Cabo de La Vela, se encuentra el Pilón de Azúcar, una colina cuya cima parece alzarse a kilómetros de distancia pero que se sube a pie en no más de quince minutos.
                        </p>
                        <p>
                            En lo alto de la pequeña montaña, donde se sienten con fuerza las ráfagas de viento, hay un altar de la Virgen de Fátima y se aprecia una vista relajante del Mar Caribe.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/pilon.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/flamingo.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h3>Conoce el Santuario de Fauna y Flora los Flamencos: </h3>
                        <p>
                            Ver a los flamencos alimentarse es posible en el Santuario de Fauna y Flora Los Flamencos, en el corregimiento de Camarones, tras un viaje de quince minutos al sur desde Riohacha.
                        </p>
                        <p>
                            Ver a los flamencos alimentarse es posible en el Santuario de Fauna y Flora Los Flamencos, en el corregimiento de Camarones, tras un viaje de quince minutos al sur desde Riohacha.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12">
                        <h3> Conoce el Cabo de la Vela</h3>
                        <p>
                            Para descansar en unas de las playas más tranquilas de Colombia es necesario viajar desde Riohacha hacia el norte por tierra durante unas tres horas hasta el Cabo de La Vela.
                        </p>
                        <p>
                            En este sitio, al que llegó en 1499 el capitán Alonso de Ojeda, los viajeros encuentran posadas turísticas –varias hechas con bahareque y yotojoro (el corazón del cactus) y pueden practicar deportes como kitesurf y windsurf.
                        </p>
                        <h3>
                            Sumérgete en las Playas de Mayapo
                        </h3>
                        <p>
                            Cerca de Riohacha, a media hora por tierra hacia el norte, se llega a las playas de Mayapo, donde es posible encontrar artesanías elaboradas por los indígenas Wayúu.
                        </p>
                        <p>
                            El lugar se destaca por sus playas frente a las que soplan vientos fuertes que atraen a aficionados a deportes náuticos como el kitesurf, la navegación en pequeños veleros y el windsurf.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row img-container">
                            <img src="~/Image/NoticiasTemp/salinas.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h3>Conoce las Salinas de Manaure: </h3>
                        <p>
                            Las palas comienzan a romper las montañas de sal antes de que se levante el sol. Las personas que recogen este mineral en las charcas de las salinas de Manaure, adonde se llega luego de viajar por tierra 63 kilómetros hacia el nororiente desde Riohacha,
                            madrugan para evitar el calor.
                        </p>
                        <p>
                            El paisaje en esta zona, que mide 4.200 hectáreas, es extraño: cerros de sal que se reflejan en pozos de agua.
                        </p>
                    </div>
                </div>
                <div class="block separator">
                    <div class="col-xs-12">
                        <hr>
                        <p>fuente: <a href="http://www.colombia.travel/es/a-donde-ir/caribe/riohacha" target="_blank">http://www.colombia.travel/es/a-donde-ir/caribe/riohacha</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    @Scripts.Render("~/bundles/emermedica")
}