@model Presentacion.Mvc.App.Models.TarjetasTransmilenioModel
@{
    Layout = null;
}

<div class="row" style="background-color: #E0E2E1;height:100%;position: absolute;left: 0px;top: 0px;z-index: -1;width: 100%;">
    <div style="background-color: #E0E2E1">
        <img src="~/Image/ambulance.jpg" />
    </div>
</div>