<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Publicaciones\Sitios\TuPortal</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoAreaETL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoCotizaciones-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoCotizador-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoKheiron-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoPortal-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoProcesos-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoRemuneraciones-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoStone-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccesoUsuariosCentralizados-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CentralizadaEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Datos.Administracion.UnidadDeTrabajo.ContextoRemuneraciones-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DireccionEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LogEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Datos.Administracion.UnidadDeTrabajo.ContextoRemuneraciones" />
  </ItemGroup>
</Project>