@model Presentacion.Mvc.App.Models.AfiliacionesModel
@{
    Layout = null;
}

<div class="col-md-12">
    <div class="alert alert-danger text-center" role="alert" style="color: #a94442 !important; background-color: #f2dede !important; border-color: #ebccd1 !important;">
        <strong>@Model.MensajeError</strong>
    </div>
</div>
