<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--DESARROLLO-->
  <!--<connectionStrings>
    <add name="KheironEntidades" connectionString="metadata=res://*/ModelTurnos.csdl|res://*/ModelTurnos.ssdl|res://*/ModelTurnos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERV-VMDB\DESARROLLO;initial catalog=Kheiron2;persist security info=True;user id=sci;password=Emermedica2014*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StoneEntidades" connectionString="metadata=res://*/ModelStone.csdl|res://*/ModelStone.ssdl|res://*/ModelStone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.227\Aplicaciones;initial catalog=Stone;user id=101;password=tecnoangela;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--PRUEBAS-->
  <connectionStrings>
    <!--<add name="ModelStone" connectionString="Server=192.168.10.227\Aplicaciones;Database=Stone;user id=101;password=tecnoangela;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="KheironEntidades" connectionString="metadata=res://*/ModelTurnos.csdl|res://*/ModelTurnos.ssdl|res://*/ModelTurnos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.227\APLICACIONES;initial catalog=Kheiron_pruebas2;persist security info=True;user id=kheiron2;password=KHEIRON;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PROCESOS_DB" connectionString="metadata=res://*/Model_DB_Procesos.csdl|res://*/Model_DB_Procesos.ssdl|res://*/Model_DB_Procesos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.227\Aplicaciones;initial catalog=PROCESOS;persist security info=True;user id=101;password=tecnoangela;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--PRODUCCION-->
  <!--<connectionStrings>
    <add name="KheironEntidades" connectionString="metadata=res://*/ModelTurnos.csdl|res://*/ModelTurnos.ssdl|res://*/ModelTurnos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.246\Aplicaciones;initial catalog=KHEIRON;persist security info=True;user id=1179;password=DesaNET1+*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StoneEntidades" connectionString="metadata=res://*/ModelStone.csdl|res://*/ModelStone.ssdl|res://*/ModelStone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.227\Aplicaciones;initial catalog=Stone;user id=101;password=tecnoangela;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>