
@using Presentacion.Mvc.App.Models
@{
    ViewBag.Title = "Perimetro Cali";
}
@{ @Html.Hidden("PerimetroUrlCali", ConfiguracionesGlobales.PerimetroUrlCali) }
<h2 id="log" class="col-md-12 ajax-file-upload-green">Abriendo perimetro Cali... Por favor permitir abrir ventanas emergentes, Gracias</h2>

<script>
    window.open($("#PerimetroUrlCali").val());
   // window.open('https://www.google.com/maps/d/viewer?mid=zRXBpRh6KJY8.kx-4fmKqGKC4&usp=sharing');
    var url = '@Url.Action("Index","Home")';
    window.setTimeout($('#log').empty(), 30000);
</script>

