@using Presentacion.Mvc.App.Models

@{
    ViewBag.Title = "Perimetro Giron";
}
@{ @Html.Hidden("PerimetroUrlGiron", ConfiguracionesGlobales.PerimetroUrlGiron) }
<h2 id="log" class="col-md-12 ajax-file-upload-green">Abriendo perimetro Girón... Por favor permitir abrir ventanas emergentes, Gracias</h2>

<script>
    window.open($("#PerimetroUrlGiron").val());
   // window.open('https://www.google.com/maps/d/viewer?mid=zRXBpRh6KJY8.ks0vSSokyEz0&usp=sharing');
    var url = '@Url.Action("Index","Home")';
    window.setTimeout($('#log').empty(), 30000);
</script>

